{
  "jsc": {
    "baseUrl": "bale-tools",
    "parser": {
      "syntax": "typescript"
    },
    "target": "es5"
  },
  "module": {
    "type": "commonjs"
  },
   "exclude": ["node_modules"],
  "sourceMaps": false,
  "isModule": true,
  "minify": false
}
